/*Coolor
https://coolors.co/4b5358-4c5f6b-93a3b1-949396-c1c1c1
*/

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	scroll-behavior: smooth;
	font-family: 'Arya', sans-serif;
	color: #4B5358;
}

header, section {
	height: 100vh;
}

section{
	background-color: #C1C1C1;
}

#about, #skill{
	height: 50vh;
}

header{
	background:url(../images/bg-image1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/*CSS for Header*/

nav{
	position: fixed;
	z-index: 10;
	width: 100%;
	background-color: rgba(75,83,88,.95);
}

nav ul{
	list-style-type: none;
	display: flex;
	justify-content: center;
}

nav ul > li{
	margin: 0 5px;
}

nav ul > li > a{
	text-decoration: none;
	color: #C1C1C1;
}

header img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	object-fit: cover;
}

.divImg, h2 {
	text-align: center;
	font-size: 1rem;
}

header > div{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*CSS for Title*/
.section-title{
	height: 10%;
	border-top:2px solid black;
}

.section-title h1{
	text-align: center;
	margin-top: 10px;
	text-shadow: 2px 2px #93A3B1;
}

#project h1, #contact h1, header h2{
	color:whitesmoke;
}

/*CSS for About Section*/
#about p{
	text-align: center;
	font-size: 1rem;
}

.about-content{
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*CSS for Project Section*/
#project{
	background:url(../images/bg-image2.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.project-content{
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.project-content > div{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.project-content > div > div{
	height: 27%;
	width: 65%;
	box-shadow: 1px 1px white;
}

.proj{
	border-radius: 3px;
}


.proj1{
	background: url(../images/capstone-img1.png);
	background-size: cover;
	background-position: center;

	animation-name:proj1-animation;
	animation-duration: 20s;
	animation-iteration-count: infinite;

	transition: 1;
}

@keyframes proj1-animation{
	0%{
		background: url(../images/capstone-img1.png);
		background-size: cover;
		background-position: center;
	}
	25%{
		background: url(../images/capstone-img2.png);
		background-size: cover;
		background-position: center;
	}
	50%{
		background: url(../images/capstone-img3.png);
		background-size: cover;
		background-position: center;
	}
	75%{
		background: url(../images/capstone-img4.png);
		background-size: cover;
		background-position: center;
	}
	100%{
		background: url(../images/capstone-img1.png);
		background-size: cover;
		background-position: center;
	}
}

.proj2{
	background: url(../images/project.jpg);
	background-size: cover;
	background-position: center;

}

.proj3{
	background: url(../images/project.jpg);
	background-size: cover;
	background-position: center;

}

.overlay{
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%;
	opacity: 1;
	background: rgba(128,128,128,.5);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.overlay > h2{
	display: border;
	color: black;
}

.overlay > div{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
}

.overlay > div > a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	border:1px solid black;
	border-radius: 5px;
	color: black;
	text-decoration: none;
}

/*CSS for Skill Section*/
.skill-content{
	margin-top: 20px;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skill-content img{
	width: 100px;
}

/*CSS for Contact Section*/
#contact{
	background:url(../images/bg-image3.jpg);
	background-size: cover;
	background-position: center;
}

.contact-content{
	margin-top: 57px;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-content form{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}

.contact-content form > input{
	margin-bottom: 10px;
	width: 100%;
	background-color: whitesmoke;
	color: black;
}

.contact-content form > textarea{
	height: 90px;
	width: 100%;
	background-color: whitesmoke;
	color: black;
}

.contact-content form button{
	margin-top: 10px;
	width: 100px;
	color: black;
	border-style: none;
	border-radius: 5px;
	background-color: #4B5358;
}

/*Media for iPad*/
@media only screen and (min-width: 500px) and (max-width: 1000px){
	header, section{
		height: 100vh;
	}

	nav > ul > li{
		margin: 0 2vw;
	}

	.project-content > div > div{
		width: 50%;
	}

	header img{
		height: 200px;
		width: 200px;
	}

	header h2{
		font-size: 1.5rem;
	}

	.section-title h1 {
		font-size: 2.5rem;
	}

	#about p{
		font-size: 1.5rem;
	}

	form > input{
		height: 30px;
		width: 500px;
	}

	form > textarea{
		height: 200px;
		width: 500px;
	}

	form > button{
		height: 40px;
		width: 150px;
	}

}

/*Media for Desktop*/
@media only screen and (min-width: 1001px){
	#about, #skill{
	height: 100vh;
	}

	nav > ul > li{
		margin: 0 2vw;
	}

	.project-content > div{
		flex-direction: row;
		width: 80%;
		position:relative;
		bottom: 20px;
	}

	.project-content > div > div{
		height: 55%;
		width: 50%;
	}

	.proj{
		position: relative;
		transition: .4s;
	}

	.proj1{
		bottom: 40px;
		left: 100px;
		z-index: 2
	}

	.proj2{
		z-index: 1
	}

	.proj3{
		top: 40px;
		right: 100px;
	}

	.proj:hover{
		width: 80vw;
		height: 65%;
	}

	.proj2:hover{
		z-index: 3;
	}

	.proj3:hover{
		z-index: 3;
	}

	.overlay{
		opacity: 0;
		justify-content: center;
	}

	.overlay:hover{
		opacity: 1;
	}

	.overlay{
		justify-content: center;
		align-items: center;
		transition: .4s;
	}

	.overlay > h2{
		font-size: 1.4rem;
	}

	.overlay > div{
		justify-content: center;
	}

	.overlay > div > a{
		width: 20%;
	}

	header img{
		height: 250px;
		width: 250px;
	}
		header h2{
		font-size: 2rem;
	}

	.section-title h1 {
		font-size: 3rem;
	}

	#about p{
		font-size: 2rem;
	}

	nav ul > li > a{
		font-size: 1.5rem;
	}

	.project-content h3{
	bottom: 350px;
	}

	.hover:hover{
		position: relative;
		bottom: 1px;
	}

}
